yt-dlp
certifi
hstspreload
regex
fsspec
setuptools
packaging
pip
PyQt5-sip
pillow
PyYAML
PyQt5
PyQt5-Qt5
hyperframe
tqdm
fonttools
transformers
typing-extensions
beautifulsoup4
readchar
googletrans
filelock
matplotlib
charset-normalizer
inquirer
networkx
pyparsing
h2
jinja2
python-vlc
chardet
hpack
requests
idna
python-dateutil
torch
torchaudio
soupsieve
urllib3
numpy
translatepy
MarkupSafe
ansicon
blessed
six
sympy
deep-translator
xmod
editor
rfc3986
kiwisolver
contourpy
sniffio
jinxed
mpmath
runs
safeio
pysrt
pyuseragents
huggingface-hub
torchvision
tokenizers
httpx
cycler
httpcore
h11
ass
safetensors
colorama
wcwidth
